<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../webfonts/css/all.js"> <!--This is for fontawesome, Please dont touch-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <nav>
        <img src="../logo.png" alt="" class="logo">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/#about">About Us</a>
            </li>
            <li>
                <a href="/#service">Service</a>
            </li>
            <li>
                <a href="/#schedule">Schedule</a>
            </li>
            <li>
                <a href="/tracking">Tracking</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>


    <!-- This is form spree, this is a open source contact form. https://formspree.io/ -->
    <br>
    <br>
    <div class="contactForm">
        <label class="topLabel">Contact or message us!</label>
        <br>
        <form action="https://formspree.io/f/mpzkrnay" method="POST">
            <p><b>Phone No.: </b> &nbsp; <a href="tel:+1587-966-1800">+1 587-966-1800</a></p>
            <p><b>Our Email: </b> &nbsp; sergres34@gmail.com</p>
            <br>
            <div class="form-group">
                <label for="Email">Your email address</label>
                <input type="email" class="form-control" name="_replyto" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <br>
            <span class="label">Message: </span>
            <textarea class="form-control textArea" name="message" aria-label="With textarea"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <br>
            <label class="topLabel">Facebook page coming soon!</label>
        </form>
    </div>
    <footer>
        <p>
            &copy Copyright 2021
        </p>
    </footer>
</body>
</html>