<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../webfonts/css/all.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
</head>
<body>
    <nav>
        <img src="../logo.png" alt="" class="logo">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/#about">About Us</a>
            </li>
            <li>
                <a href="/#service">Services</a>
            </li>
            <li>
                <a href="/#schedule">Schedule</a>
            </li>
            <li>
                <a href="/tracking">Tracking</a>
            </li>
            <li>
                <a href="/contact">Contact Us</a>
            </li>
        </ul>
    </nav>
    <section class="hero">
        <h1>
            TatakTapulao
        </h1>
        <h2>COURIER SERVICES</h2>
        <h2>Helping connect Families over distance</h2>
        <div class="imageOfTheDayContainer">
            <img src="../images/hapkids.jpg" alt="imageOfTheDay" class="imageOfTheDay">
            <figcaption>
                An emotional moment from both sender and reciever of the Balikbayan Box.
                Truly, the boxes of love are a bonding instruments for families here and abroad.
                <br/>
                <br/>
                J. Ballesteros-Sender
            </figcaption>
        </div>
    </section>
    <section id="about" class="about">
        <img src="../images/logo.png" alt="" class="bigLogo">
        <p>The image showing symbol of people with reaching hands, depics five (5) members of the family who collaborated and started this undertaking as a community outreach program to generate funds and relief items to support calamity-stricken families in the Philippines</p>
        <p>The name "tatakTapulao" coined by the community to simply acknowledge that the goods and services voluntarily accorded them originated from us. </p>
        <p>The activity gradually turned into a small business venture when members of the community started patronizing the service and the group became a conduit by UMAC shipping for Balikbayan Boxes to their loveones abroad.</p>
    </section>
    <section id="service" class="service">
        <h2>
            Services
        </h2>
        <ul>
            <li>
                <i class="fas fa-people-carry fa-3x"></i>
                <h1>PICK UP</h1>
                <p>Weight and size does not matter. We offer safe and efficient means to convey your love-package to your Families.</p>
            </li>
            <li>
                <i class="fas fa-truck-loading fa-3x"></i>
                <h1>DELIVERY</h1>
                <p>Fragile and breakable items? No fret as we transport your boxes from your home to the loading warehouse with care.</p>
            </li>
            <li>
                <i class="fas fa-box-open fa-3x"></i>
                <h1>RETAIL</h1>
                <p>We sell and deliver Balikbayan boxes, moving and packing tapes of various sizes of your needs.</p>
            </li>
            <li>
                <i class="fas fa-parachute-box fa-3x"></i>
                <h1>TRACKING</h1>
                <p>Virtually, you travel with your packages as we link you to an up-to-date and reliable tracking system to find them and see location at a certain point .</p>
            </li>
         
        </ul>
    </section>
    <section id="schedule" class="schedule">
        <h2 class="scheduleTitle">Sending your Balikbayan Packages Home?</h2>
        <br>
        <h3 class="scheduleSubTitle">Fill up the Schedule Form Pick Up Now!</h3>
        
        <form method="POST">
            <h1 class="validateHeading">Please make sure all information are correct.</h1>
            <!-- <h2>Customer Information</h2> -->
            <div class="applicationInfo">
                <fieldset>
                    <label for="name">Name :</label>
                    <input type="text" name="name" required>
                </fieldset>
                <fieldset>
                    <label for="email">Email :</label>
                    <input type="text" name="email"required>
                </fieldset>
                <fieldset>
                    <label for="address">Address :</label>
                    <input type="text" name="address"required>
                </fieldset>
                <fieldset>
                    <label for="City">City :</label>
                    <input type="text" name="City"required>
                </fieldset>
                <fieldset>
                    <label for="postalCode">Postal Code :</label>
                    <input type="text" name="postalCode"required>
                </fieldset>
                <fieldset>
                    <label for="phoneNumber">Phone Number :</label>
                    <input type="text" name="phoneNumber"required>
                </fieldset>
                <fieldset>
                    <label for="time">Time of Pickup :</label>
                    <input type="time" name="time"required>
                </fieldset>
                <fieldset>
                    <label for="date">Date :</label>
                    <input type="date" name="date"required>
                </fieldset>
                <button type="button" onclick="nextForm()">
                    Continue
                </button>
                
            </div>  
            <div class="sender">
                <h2>Sender Information</h2>
                <fieldset>
                    <label for="senderFname">First Name :</label>
                    <input type="text" name="senderFname"required>
                </fieldset>
                <fieldset>
                    <label for="senderLname">Last Name :</label>
                    <input type="text" name="senderLname"required>
                </fieldset>
                <fieldset>
                    <label for="senderAddressOne">Address 1 :</label>
                    <input type="text" name="senderAddressOne"required>
                </fieldset>
                <fieldset>
                    <label for="senderAddressTwo">Address 2 :</label>
                    <input type="text" name="senderAddressTwo">
                </fieldset>
                <fieldset>
                    <label for="senderPostalCode">Postal Code :</label>
                    <input type="text" name="senderPostalCode"required>
                </fieldset>
                <fieldset>
                    <label for="senderContact">Contact Number :</label>
                    <input type="text" name="senderContact"required>
                </fieldset>
                <button class="continueBtn" type="button" onclick="Continue()">
                    Next
                </button>
                <button type="button" class="backBtnOne" onclick="backToFirst()">
                    Back
                </button>
            </div>
            <div class="recipient">
                <h2>Recipient Information</h2>
                <fieldset>
                    <label for="recipientFname">First Name :</label>
                    <input type="text" name="recipientFname"required>
                </fieldset>
                <fieldset>
                    <label for="recipientLname">Last Name :</label>
                    <input type="text" name="recipientLname"required>
                </fieldset>
                <fieldset>
                    <label for="recipientAddressOne">Address 1 :</label>
                    <input type="text" name="recipientAddressOne"required>
                </fieldset>
                <fieldset>
                    <label for="recipientAddressTwo">Address 2 :</label>
                    <input type="text" name="recipientAddressTwo">
                </fieldset>
                <fieldset>
                    <label for="recipientCityTown">City/Town :</label>
                    <input type="text" name="recipientCityTown"required>
                </fieldset>
                <fieldset>
                    <label for="recipientProvince">Province :</label>
                    <input type="text" name="recipientProvince"required>
                </fieldset>
                <fieldset>
                    <label for="recipientCountry">Country :</label>
                    <input type="text" name="recipientCountry"required>
                </fieldset>
                <fieldset>
                    <label for="recipientContact">Contact Number :</label>
                    <input type="text" name="recipientContact"required>
                </fieldset>

                <div class="termsAndCondition">
                    <input type="checkbox" name="" id="">
                    <p>By tendering goods and personal effects for shipment by the agent (tataktapulao), I agree and understand that this transaction is subject to the terms and conditions of UMAC Express Cargo Inc., as contained in the Cargo Invoice</p>
                </div>

                <button class="validateBtn" type="button" onclick="validate()">
                    Next
                </button>

                <button type="submit" class="SubmitBtn">
                    Submit
                </button>
                <button type="button" class="backBtnTwo"  onclick="backToSender()">
                    Back
                </button>
            </div>
        </form>
    </section>
    <footer>
        <p>
            &copy Copyright 2021
        </p>
    </footer>
</body>
<script src="./js/script.js"></script>
</html>