<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/success.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="../logo.png" alt="" class="logo">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/#about">About Us</a>
            </li>
            <li>
                <a href="/#service">Service</a>
            </li>
            <li>
                <a href="/#schedule">Schedule</a>
            </li>
            <li>
                <a href="/tracking">Tracking</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Thank you for submitting a pickup time!</h1>
        <h2>See you soon!</h2>

        <h3>Go back to <a href="/">home page</a>.</h3>
    </div>
</body>
</html>