

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/tracking.css">
    <link rel="stylesheet" href="../webfonts/css/all.js"> <!--This is for fontawesome, Please dont touch-->
</head>
<body>
    <nav>
        <img src="../logo.png" alt="" class="logo">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/#about">About Us</a>
            </li>
            <li>
                <a href="/#service">Service</a>
            </li>
            <li>
                <a href="/#schedule">Schedule</a>
            </li>
            <li>
                <a href="/tracking">Tracking</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <section>
        <iframe id="myiFrame" src="https://umactracking.net/" style="height:80vh;width:50vw;"> <!--Wanted to integrate tracking page of the mother agency-->
            <p>Your browser does not support iframes.</p>
        </iframe>
    </section>
    <footer>
        <p>
            &copy Copyright 2021
        </p>
    </footer>
</body>

</html>