*{
    display:flex;
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color:#000000;
    scroll-behavior: smooth;
}

head,script{
    display: none;
}

body{
    flex-direction: column;
    width:100vw;
}

nav{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:5px 0;
    background:#575858;
    position: fixed;
    width:100vw;
    z-index: 100;
}

nav p{
    color:white;
    margin:0 0 0 30px;
    
}

nav .logo{
    height:50px;
    margin:0 0 0 30px;
}


nav ul{
    margin:0 30px 0 0;
}

nav ul li{
    margin:0 20px;
}

nav ul li a{
    color:white;
    text-transform: uppercase;
}

section{
    flex-direction: column;
}

section.hero{
    flex-direction: column;
    /* height:90vh; */
    padding:250px 0 150px 0;
    justify-content: center;
    align-items: center;
    background:url(../images/bg.jpg),linear-gradient(#ffffff4f,#dbc69d);
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-attachment: fixed;
}

section.hero h1{
    font-size:50px;
}

section.hero h2{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

section.hero div{
    margin-top:50px;
    padding:20px 20px 20px 20px;
    background:white;
}

.imageOfTheDayContainer{
    flex-direction: column;
}

.imageOfTheDayContainer figcaption{
    width:400px;
    margin-top: 25px;
    padding:10px 0 10px 0;
    font-style: italic;
    text-align: center;
    font-size: 1.5vmin;
}

section.hero div .imageOfTheDay{
    height:400px;
    width: 400px;
    align-items: center;
}

section.about{
    justify-content: center;
    align-items: center;
    padding:150px 0;
}

section.about h2{
    font-size: 80px;
    margin:0 0 20px 0;
}

section.about .bigLogo{
    height:300px;
}

section.about p{
    margin:0 0 10px 0;
    width:700px;
    text-align: center;
}

section.service{
    justify-content: center;
    align-items: center;
    padding:150px 0;
    background:#a1a1a1;
}

section.service ul{
    width:900px;
    flex-direction: row;
    margin:20px 0 0 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section.service ul li{
    width:180px;
    margin:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.service h2{
    font-size: 50px;
}

section.service ul li i{
    margin:10px 0;
    color:#ffffff;
}

section.service ul li p{
    text-align: center;
}

section.schedule{

    padding:150px 0;

    /* height:100vh; */
    justify-content: center;
    align-items: center;
}

section.schedule form{
    width:500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid #96c3ce; */
    background:white;
    filter:drop-shadow(0 10px 10px #0000002f);
    border-radius: 10px;
    padding:50px 10px;
    margin:50px 0 0 0;
}

.applicationInfo,.sender,.recipient{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sender,.recipient,.validateHeading,.SubmitBtn{
    display:none;
}

.validateHeading{
    color:#8bddf1;
    text-align: center;
}

section.schedule form fieldset{
    width:400px;
    justify-content: space-between;
    align-items: center;
    margin:10px 0;
    padding:0;
    border-radius: 10px;
    border:none;
}

section.schedule form fieldset input{
    padding:5px;
    width:250px;
}

.form_button{
    margin:20px 0 0 0;
    width:425px;
    padding:20px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border:none;
    background:#8bddf1;
    color:white;
    text-align: center;
}

.termsAndCondition{
    width:80%;
    display:none;
}

.termsAndCondition input{
    margin:0 20px 0 0;
}

.actionContainer{
    padding:20px 0;
    background:#979797;
    width:100%;
    align-items: center;
    justify-content: center;
}

button{
    width:425px;
    padding:20px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border:none;
    background:#8bddf1;
    color:white;
    margin-top:50px;
}

.backBtnOne,.backBtnTwo{
    margin:10px 0 0 0;
}

.form_button{
    margin:20px 0 0 0;
    width:425px;
    padding:20px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border:none;
    background:#8bddf1;
    color:white;
}

footer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px 0;
    background:#383838;
}

footer p{
    font-size:14px;
    margin:10px 0;
    color:white;
}